.score {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.score p {
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 50, 100);
}

.scoreCounter {
  transform-origin: center;
  margin: .5em auto;
  font-size: 4em;
  color: rgb(255, 50, 100);
  font-weight: bolder;
}

.scoreCounter.entering {
  animation: .05s cubic-bezier(1, .01, .6, 1.07) 1 forwards newScore;
}

.scoreCounter.entered {
  transform: rotateZ(10deg);
  transition: transform .05s cubic-bezier(1, .01, .6, 1.07);
}

.scoreCounter.exiting {
  transform: rotateZ(-10deg);
  transition: transform .05s cubic-bezier(1, .01, .6, 1.07);
}

.scoreCounter.exited {
  animation: .05s cubic-bezier(1, .01, .6, 1.07) 1 backwards newScore;
}

//.scoreCounter.entered {
//  animation: .5s cubic-bezier(1, 0, 0, 1) 1 backwards scoreRotate;
//}
//


//________________________________________


@keyframes newScore {
  to {
    font-size: 4.5em;
    font-weight: bolder;
  }
}

//@keyframes scoreRotate {
//  0% {
//    transform: rotate(0deg);
//  }
//  50% {
//    transform: rotate(35deg);
//  }
//  100% {
//    transform: rotate(0deg);
//  }
//}