@import "../global/vars";


.formWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000099;
  }

}


.form {
  padding: 25px;
  text-align: center;
  width: 350px;
  background-color: rgb(253, 165, 64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: solid rgb(69, 56, 50) 5px;
  border-radius: 2em;

  font-size: 18px;
  line-height: 1.6;
  color: rgb(46, 40, 37);

  & > button {
    background-color: rgb(255, 50, 100);
    line-height: 1.6;
    border: none;
    border-radius: .5em;
    padding: 5px 10px;
    font-size: 25px;
    color: rgb(46, 40, 37);
    display: block;
    margin: 1em auto;
  }

  h2 {
    margin: 0;
  }

  label {
    margin-right: .5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.formWrapper.formWrapper-enter {
  opacity: 0;
}

.formWrapper.formWrapper-enter-active {
  opacity: 1;
  transition: opacity linear .5s;
  //animation: ease-in .3s appearing 1 forwards;
}

.formWrapper.formWrapper-appear {
  opacity: 0;
}

.formWrapper.formWrapper-appear-active {
  opacity: 1;
  transition: opacity linear .5s;
  //animation: ease-in .3s appearing 1 forwards;
}

//
//.formWrapper-enter-done {
//  opacity: 1;
//}


//.formWrapper.entered {
//  opacity: 1;
//  transition: opacity .5s linear;
//
//}
////
.formWrapper.entering {
  //transition: opacity .1s linear;
}

//
//.formWrapper.exiting {
//  //color: greenyellow;
//  //background-color: red;
//
//  animation: ease-in .3s appearing 1 forwards;
//}
//
//.formWrapper.exited {
//  //background-color: greenyellow;
//  animation: ease-in .3s appearing 1 forwards;
//
//  //opacity: 1;
//  //transition: opacity .1s linear;
//}

//
//
//.form.entering {
//  opacity: 0;
//
//}
//
//.form.entered {
//  opacity: 0;
//}
//
//.form.exiting {
//  opacity: 1;
//  transition: opacity 1s linear;
//}
//
//.form.exited {
//  opacity: 1;
//}


.form,
.form > * {
  cursor: initial;
}

.form > label > input,
.form > label,
.form > button {
  font-weight: bold;
  cursor: pointer;
}


@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
