/*.mole.entering{*/
/*  !*animation-name: moveMole;*!*/
/*  !*animation-timing-function: cubic-bezier(1,0,0,1);*!*/
/*  !*animation-duration: 2s;*!*/
/*  !*animation-iteration-count: 1;*!*/

/*  animation: 1s cubic-bezier(1,0,0,1) 1 forwards moveMole;*/
/*}*/

/*.mole.entering {*/
/*  animation: 1s cubic-bezier(1,0,0,1) 1 forwards moveMole;*/
/*}*/

/*.mole.entered {*/
/*  top: 0*/
/*}*/

/*.mole.exiting {*/
/*  animation: 1s cubic-bezier(1,0,0,1) 1 backwards moveMole;*/
/*}*/

/*.mole.exited {*/
/*  top: 80%*/
/*}*/


/*.mole.entered{*/
/*  top: 0;*/
/*}*/
/*.mole.exiting{*/
/*  animation: .5s cubic-bezier(1,0,0,1) 1 reverse moveMole;*/
/*}*/


/*.remove-btn {*/
/*  margin-right: 0.5rem;*/
/*}*/

/*.item-enter {*/
/*  opacity: 0;*/
/*}*/
/*.item-enter-active {*/
/*  opacity: 1;*/
/*  transition: opacity 500ms ease-in;*/
/*}*/
/*.item-exit {*/
/*  opacity: 1;*/
/*}*/
/*.item-exit-active {*/
/*  opacity: 0;*/
/*  transition: opacity 500ms ease-in;*/
/*}*/


/*_________________________________________*/
/*CSSTransition*/


.mole.enter {
  top: 80%;
  transition: top .5s cubic-bezier(1, 0, 0, 1);
  /*animation: .5s cubic-bezier(1,0,0,1) infinite moveMole;*/
}

.mole.enter-active {
  top: 0;
  transition: top .5s cubic-bezier(1, 0, 0, 1);
}

.mole.exit {
  top: 0;
  transition: top .5s cubic-bezier(1, 0, 0, 1);
}

.mole.exit-active {
  top: 80%;
  transition: top .5s cubic-bezier(1, 0, 0, 1);
}


/*____________________________________________________*/


/*.mole.exited{*/
/*animation-name: moveMole;*/
/*animation-timing-function: cubic-bezier(1,0,0,1);*/
/*animation-duration: 2s;*/
/*animation-iteration-count: 1;*/
/*  animation: 1s cubic-bezier(1,0,0,1) 1 reverse moveMole;*/
/*}*/

@keyframes moveMole {
  0% {
    top: 80%;
  }
  /*50% {*/
  /*  top: 0;*/
  /*  !*transform: translate(-50%, 0%);*!*/

  /*}*/
  100% {
    top: 80%;
  }
}