.mole.enter {
  top: 80%;
  transition: top .7s cubic-bezier(1, 0, 0, 1);
  /*animation: .5s cubic-bezier(1,0,0,1) infinite moveMole;*/
}

.mole.enter-active {
  top: 0;
}

.mole.exit {
  top: 0;
}

.mole.exit-active {
  top: 80%;
  transition: top .7s cubic-bezier(1, 0, 0, 1);
}


/*____________________________________________________*/

@keyframes moveMole {
  0% {
    top: 80%;
  }
  100% {
    top: 80%;
  }
}