.lifeWrapper {
  padding: .5em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 20%;
  gap: 2%;
}

.heart {
  width: calc((100% / 3) - 2%);
  aspect-ratio: 1;
  background: url("../../assets/img/header/heart.png") center no-repeat;
  background-size: cover;
}
