.lifeWrapper {
  padding: .5em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 20%;
  gap: 2%;
}

.heart {
  width: calc((100% / 3) - 2%);
  aspect-ratio: 1;
  background: url("../../assets/img/header/heart.png") center no-repeat;
  background-size: cover;
}

.heart-exit {
  animation: ease-in .2s scale 1 forwards;
}

.heart-exit-active {
  opacity: 0;
  animation: ease-in .3s removingHeart 1 forwards;
}


@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.7);
  }
}

@keyframes removingHeart {
  0% {
    opacity: 1;
    transform: scale(1.7);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
