.lifeWrapper {
  padding: .5em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 25%;
}

//.heart {
//  background: url("../../assets/header/heart.");
//}
