@import "../global/vars";

#game-aria {
  height: 100vh;
  background-color: $mainYellowColor;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

#hole-field {
  width: 95%;
  max-width: 1200px;
  aspect-ratio: 5 / 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:  repeat(3, 1fr);
  column-gap: 2em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

.hole-wrapper {
  width: 100%;
  height: 100%;

  justify-self: center;
  align-self: stretch;

  position: relative;
  overflow: hidden;
}

.hole {
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(52, 48, 0);
  height: 35%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 13%;
    left: 0;
    right: 0;
    border-radius: 100%;
    background-color: rgb(2, 0, 2);
  }
}

.overlap {
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 20px 0 0 $mainYellowColor;
  z-index: 2;
}

.overlap_1 {
  width: 108%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: -5px;
  border-radius: 100%;
  box-shadow: 0 10px 0 0 $mainYellowColor;
  z-index: 2;
}




//.goal.enter {
//  top: 100%;
//}
//
//.goal.enter-active {
//  top: 0;
//  transition: top .7s cubic-bezier(1, 0, 0, 1);
//}
//
//.goal.exit {
//  top: 0;
//}
//
//.goal.exit-active {
//  top: 100%;
//  transition: top .7s cubic-bezier(1, 0, 0, 1);
//}

//.goal.active {
//    animation-name: moveGoal;
//    animation-timing-function: cubic-bezier(1,0,0,1);
//    animation-duration: 2s;
//    animation-iteration-count: 1;
//}
//
//
//@keyframes moveGoal {
//  0% {
//    top: 80%;
//  }
//
//  50% {
//    top: 0%;
//  }
//
//  100% {
//    top: 100%;
//  }
//}


@media (max-width: 600px) {
  .overlap_1 {
    height: 44%;
    left: -3px;
  }
}

@media (min-width: 1200px) {
  .overlap_1 {
    left: -9px;
  }
}

